.col-1{
    padding: auto;
    padding-left: 30px;
    text-align: left;
    margin: left;
    
    
    /* font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    flex-shrink: 0;
    width: 1.5rem; */

}
.form
{
    border-radius: 1px;
}
.button {
    padding-top: 110px;
    position: absolute;
    top:50%
}
.widget-logo
{
padding-top: 60px;
 max-width: 10%;
}